TZ=America/New_York
PUID=1000
PGID=1000

MULLVAD_PRIVATE_KEY=your_wireguard_private_key_here
MULLVAD_ADDRESS=10.x.x.x/32
MULLVAD_SERVER_COUNTRY=Sweden

GLUETUN_CONTAINER_NAME="mediastack-gluetun"
QBITTORRENT_CONTAINER_NAME="mediastack-qbittorrent"
PROWLARR_CONTAINER_NAME="mediastack-prowlarr"
LIDARR_CONTAINER_NAME="mediastack-lidarr"
JELLYFIN_CONTAINER_NAME="mediastack-jellyfin"
METUBE_CONTAINER_NAME='mediastack-metube'
FILEBROWSER_CONTAINER_NAME='mediastack-filebrowser'